.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aqua;
    height: fit-content;
}

.grid-item{
    border: 5px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-1{
    border: 5px solid rgb(0, 0, 0);
    font-family:sans-serif;
    background-color: chartreuse;
    padding: 20px 20px 20px 20px;
    transform: rotate(360deg);
}

.button-2{
    width: 85px;
    border: 5px solid rgb(0, 0, 0);
    font-family:sans-serif;
    background-color: rgb(255, 162, 0);
    padding: 20px 20px 20px 20px;
    transition: width 0.5s;
}
    .button-2:hover {
        width: 300px;
}

.button-3{
    border: 5px solid rgb(0, 0, 0);
    font-family:sans-serif;
    /*background-color: rgb(255, 43, 43);*/
    padding: 20px 20px 20px 20px; 
}
.button-3:hover{
    animation-name: button3;
    animation-duration:5s;
    animation-iteration-count: infinite;
}

    @keyframes button3 {
        from {background-color: red;}
        to {background-color: yellow;}
    }
        
    