body{
background-color: chartreuse;
display: flex;
justify-content: center;
align-items: center;
}

.button2 {
    
    background-color: yellow; 
    width: 150px;
    height: 50px;
    margin-top: 300px;
}  

.button2:hover{
    background-color: aqua;
}

